.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block; // allows for margin/padding to take effect
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}


.button--add {
    float: right;
    padding: $m-size;
    margin-bottom: 10px;
}

.button--add-comment {
    background-color: #091947;
    font-size: 1.4rem;
    padding: 1rem 2rem 1rem 2rem;
}

.button--delete {
    background-color: darken($light-grey, 30%);
    font-size: 1.2rem;
    padding: .8rem;
}

.button-edit {
    color: lighten(black, 30%);
    font-weight: bold;
    text-decoration: none;
}

.button--link { 
    background: none;
}

.button--secondary {
    background-color: rgb(228, 100, 100)
}


