.content-container {
    margin: 0 auto; // redistribute left and right space evenly
    max-width: 180rem;
    padding: 0 $m-size;
}

.content-container--comment {
    padding: $s-size $l-size $l-size $l-size;
}

.content-container--filter {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: $l-size;
    justify-content: space-around;
    padding-left: 0;
    @media (min-width: 408px) {
        display: block;
    }
}
