.header {
    background-color: #091947;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;

}

.header-message {
    font-size: 0rem;
    @media (min-width: $desktop-breakpoint) {
        color: white;
        font-size: $font-size-large;
    }
    
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}

