.list-item {
    display: flex;
    border: 1px solid darken($light-grey, 8%);
    color: $dark-grey;
    flex-direction: column;
    padding: $s-size;
    word-break: break-word;
    text-decoration: none;
    transition: background-color .3s ease;
    &:hover { // shorthand to add hover
        background: $light-grey;
    }
}
.list-body {
    margin-top: $m-size;
}

.list-entries {
    margin-top: $l-size;
}

.list-item--description {
    color: $grey;
    padding: $s-size;
    white-space: pre-line;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    justify-content: center;
    word-break: break-word;
}

.list-item__date {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0;
}

.list-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
