.read-container {
    margin: $l-size auto;
    max-width: 80rem;
    padding: 0 $m-size;
}

.read-description {
    font-size: 1.8rem;
    margin: $l-size auto;
}

.read-header {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-header__item {
    color: gray;
    margin-top: $s-size;
}

.read-title {
    font-size: 24px;
    margin-right: $s-size;
}

