.read-container {
    border: 1px solid darken($light-grey, 30%);
    border-radius: 10px;
    margin: $l-size $l-size;
    max-width: 180rem;
    padding: $l-size;
    @media (min-width: 1890px) {
        margin: $l-size auto;
    }
}

.read-description {
    font-size: 1.8rem;
    margin: $l-size auto;
    padding: $m-size;
    white-space: pre-line;
    word-break: break-all;
}

.read-header {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-header__item {
    color: gray;
    margin-top: $s-size;
}

.read-title {
    font-size: 24px;
    margin-right: $s-size;
}

